<!doctype html>
<!-- Template from getbootstrap.com -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Neural Style Transfer</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <!-- https://getbootstrap.com/docs/4.4/components/jumbotron/ -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 class="display-4"><a href="{{ url_for('index') }}">Neural Style Transfer</a></h1>
                    <p class="lead">Implementation of Neural Style Transfer from the paper
                        <a href="https://arxiv.org/abs/1508.06576" target="_blank">
                            A Neural Algorithm of Artistic Style</a>
                        <i>(Gatys et al.)</i> in Tensorflow 2.0.</p>
                    <!-- <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger
                        container.</p> -->
                    <a class="btn btn-primary btn-lg" href="https://github.com/kw01sg/neural-style-transfer"
                        role="button" target="_blank">Learn more</a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <footer class='footer mt-auto py-4'>

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- non-slim version of jQuery is loaded in head for ajax -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>